<section class="splash">
  <div class="transparent-box"></div>
  <div class="background-overlay"></div>
  <div class="no-gap">
    <div class="container">
      <div class="row">
        <div class="column empty-col"></div>
        <div class="column">
          <div class="header">
            <div class="row title">
              <div class="col" data-aos="fade-up" data-aos-duration="1000" >
                <h1 class="title-name">Violeta & Carlos</h1>
              </div>
              <!-- <div class="col" data-aos="fade-up" data-aos-duration="2000"  data-aos-delay="300">
                <h3 class="title-save size-default">- SAVE THE DATE -</h3>
              </div> -->
              <div class="col" data-aos="fade-up" data-aos-duration="3000"  data-aos-delay="600">
                <h2 class="title-date ">
                  Sábado 23 de Septiembre 2023
                </h2 >
                <h4 class="title-place" >Monterrey N.L.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
