.container {
  margin: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

.column {
  flex-basis: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}


:host ::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--disabled {
  opacity: 1 !important;
}

