<div class="container">
  <!-- <div class="row">
    <form [formGroup]="excelForm" (ngSubmit)="parseExcelFile()">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose File
      </button>
      <input
        #fileInput
        hidden
        mat-raised-button
        type="file"
        formControlName="excelFile"
        (change)="incomingfile($event)"
        accept=".xlsx, .xls"
      />
      <button mat-raised-button type="submit" [disabled]="excelForm.invalid">
        Parse Excel
      </button>
    </form>
  </div> -->
  <div class="row">
    <button mat-raised-button (click)="exportExcel()">Export To Excel</button>
    <!-- <button mat-raised-button (click)="exportExcelFromFile()">
      Export To Excel From File
    </button> -->
    <ng-container *ngFor="let item of columns">
      <button
        mat-raised-button
        [color]="isDisplayedColumnColor(item.name)"
        (click)="toggleColumn(item.name)"
      >
        {{ item.name }}
      </button>
    </ng-container>
  </div>
  <div class="row">
    <button mat-raised-button (click)="hideDash = !hideDash">
      {{ hideDash ? "Colapsar Dashboard" : "Abrir Dashboard" }}
    </button>
  </div>
  <div class="row" *ngIf="hideDash">
    <div class="column datos-inv">
      <div class="row no-pad clickable" (click)="filterTable('')">
        <div class="column left">Quien Invita:</div>
      </div>
      <div class="row no-pad">
        <div class="column left">Invitados:</div>
      </div>
      <div class="row no-pad">
        <div class="column left">Pendientes:</div>
      </div>
      <div class="row no-pad">
        <div class="column left">Asistentes:</div>
      </div>
      <div class="row no-pad">
        <div class="column left">No Asistentes</div>
      </div>
    </div>
    <div class="column datos-inv">
      <p class="clickable">Violeta & Carlos</p>
      <div class="row no-pad clickable" (click)="filterTable('Carlos & Vi')">
        <div class="column right">
          {{ getInvitadosByPerson("Carlos & Vi") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos & Vi Pendientes')"
      >
        <div class="column right">
          {{ getInvitadosPendientesByPerson("Carlos & Vi") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos & Vi Confirmados')"
      >
        <div class="column right">
          {{ getInvitadosConfirmadosAsistentesByPerson("Carlos & Vi") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos & Vi No Asistentes')"
      >
        <div class="column right">
          {{ getInvitadosNoAsistentesByPerson("Carlos & Vi") }}
        </div>
      </div>
    </div>
    <div class="column datos-inv">
      <p (click)="filterTable('Violeta')" class="clickable">Violeta</p>
      <div class="row no-pad clickable" (click)="filterTable('Carlos & Vi')">
        <div class="column right">{{ getInvitadosByPerson("Violeta") }}</div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Violeta Pendientes')"
      >
        <div class="column right">
          {{ getInvitadosPendientesByPerson("Violeta") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Violeta Confirmados')"
      >
        <div class="column right">
          {{ getInvitadosConfirmadosAsistentesByPerson("Violeta") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Violeta No Asistentes')"
      >
        <div class="column right">
          {{ getInvitadosNoAsistentesByPerson("Violeta") }}
        </div>
      </div>
    </div>
    <div class="column datos-inv">
      <p>Carlos</p>
      <div class="row no-pad clickable" (click)="filterTable('Carlos')">
        <div class="column right">{{ getInvitadosByPerson("Carlos") }}</div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos Pendientes')"
      >
        <div class="column right">
          {{ getInvitadosPendientesByPerson("Carlos") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos Confirmados')"
      >
        <div class="column right">
          {{ getInvitadosConfirmadosAsistentesByPerson("Carlos") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('Carlos No Asistentes')"
      >
        <div class="column right">
          {{ getInvitadosNoAsistentesByPerson("Carlos") }}
        </div>
      </div>
    </div>
    <div class="column datos-inv">
      <p>Familia Violeta</p>
      <div class="row no-pad clickable" (click)="filterTable('FV ')">
        <div class="column right">{{ getInvitadosByPerson("FV") }}</div>
      </div>
      <div class="row no-pad clickable" (click)="filterTable('FV Pendientes')">
        <div class="column right">
          {{ getInvitadosPendientesByPerson("FV") }}
        </div>
      </div>
      <div class="row no-pad clickable" (click)="filterTable('FV Confirmados')">
        <div class="column right">
          {{ getInvitadosConfirmadosAsistentesByPerson("FV") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('FV No Asistentes')"
      >
        <div class="column right">
          {{ getInvitadosNoAsistentesByPerson("FV") }}
        </div>
      </div>
    </div>
    <div class="column datos-inv">
      <p>Familia Carlos</p>
      <div class="row no-pad clickable" (click)="filterTable('FC ')">
        <div class="column right">{{ getInvitadosByPerson("FC") }}</div>
      </div>
      <div class="row no-pad clickable" (click)="filterTable('FC Pendientes')">
        <div class="column right">
          {{ getInvitadosPendientesByPerson("FC") }}
        </div>
      </div>
      <div class="row no-pad clickable" (click)="filterTable('FC Confirmados')">
        <div class="column right">
          {{ getInvitadosConfirmadosAsistentesByPerson("FC") }}
        </div>
      </div>
      <div
        class="row no-pad clickable"
        (click)="filterTable('FC No Asistentes')"
      >
        <div class="column right">
          {{ getInvitadosNoAsistentesByPerson("FC") }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-chip-option
      color="warn"
      (click)="filterTable('novistos')"
      [selected]="isFiltered[0] === 'novistos'"
    >
      No Vistos {{ getNoVistos }}
    </mat-chip-option>
    <mat-chip-option
      color="accent"
      (click)="filterTable('vistos')"
      [selected]="isFiltered[0] === 'vistos'"
    >
      Vistos {{ getVistos }}
    </mat-chip-option>
    <mat-chip-option
      color="primary"
      (click)="filterTable('confirmados')"
      [selected]="isFiltered[0] === 'confirmados'"
    >
      confirmados {{ getConfirmados }}
    </mat-chip-option>
    <mat-chip-option
      color="primary"
      (click)="filterTable('asistiran')"
      [selected]="isFiltered[0] === 'asistiran'"
    >
      Asistiran {{ getAsistentes }}
    </mat-chip-option>
    <mat-chip-option
      color="warn"
      (click)="filterTable('noAsistiran')"
      [selected]="isFiltered[0] === 'noAsistiran'"
    >
      No Asistiran {{ getNoAsistentes }}
    </mat-chip-option>
  </div>
  <div>
    <input
      type="text"
      style="padding: 8px; margin: 15px auto; width: 30%"
      placeholder="Type to filter the name column..."
      (keyup)="search($event)"
    />
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columns]="columnsToDisplay"
      [columnMode]="ColumnMode.standard"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [limit]="10"
      [groupExpansionDefault]="true"
      [groupRowsBy]="'key'"
    >
      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <div style="padding-left: 5px">
            <button
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Group"
              (click)="toggleExpandGroup(group)"
            >
              <b>Key: {{ group.value[0].key }}</b>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ng-container *ngFor="let column of columns; let i = index">
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="200"
          *ngIf="
            column.name !== 'url' &&
            column.name !== 'confirmacion asistencia' &&
            column.name !== 'estatus de invitacion'
          "
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          *ngIf="column.name === 'url'"
          [width]="500"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <a [href]="value" target="_blank">
              {{ value }}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="150"
          *ngIf="column.name === 'estatus de invitacion'"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <ng-container *ngIf="row.estatusDeInvitacion">
              <mat-chip-option
                [color]="getEstatusInvitacion(row)"
                disabled
                selected
              >
                {{ row.estatusDeInvitacion }}</mat-chip-option
              >
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="150"
          *ngIf="column.name === 'confirmacion asistencia'"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <mat-chip-option
              [color]="getEstatusInvitacionConfirmadoColor(row)"
              disabled
              [selected]="row.estatusDeInvitacion === 'confirmado'"
              >{{ getEstatusConfirmado(row) }}</mat-chip-option
            >
          </ng-template>
        </ngx-datatable-column>
      </ng-container>
    </ngx-datatable>
  </div>
</div>
