<div class="container">
  <div class="row">
    <form [formGroup]="excelForm" (ngSubmit)="parseExcelFile()">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose File
      </button>
      <input
        #fileInput
        hidden
        mat-raised-button
        type="file"
        formControlName="excelFile"
        (change)="incomingfile($event)"
        accept=".xlsx, .xls"
      />
      <button mat-raised-button type="submit" [disabled]="excelForm.invalid">
        Parse Excel
      </button>
    </form>
  </div>
  <div class="row">
    <button mat-raised-button (click)="exportExcel()">Export To Excel</button>
    <!-- <button mat-raised-button (click)="exportExcelFromFile()">
      Export To Excel From File
    </button> -->
    <ng-container *ngFor="let item of columns">
      <button
        mat-raised-button
        [color]="isDisplayedColumnColor(item.name)"
        (click)="toggleColumn(item.name)"
      >
        {{ item.name }}
      </button>
    </ng-container>
  </div>
  <div class="row">
    <mat-chip-option
      color="warn"
      (click)="filterTable('novistos')"
      [selected]="isFiltered[0] === 'novistos'"
    >
      No Vistos {{ getNoVistos }}
    </mat-chip-option>
    <mat-chip-option
      color="accent"
      (click)="filterTable('vistos')"
      [selected]="isFiltered[0] === 'vistos'"
    >
      Vistos {{ getVistos }}
    </mat-chip-option>
    <mat-chip-option
      color="primary"
      (click)="filterTable('confirmados')"
      [selected]="isFiltered[0] === 'confirmados'"
    >
      confirmados {{ getConfirmados }}
    </mat-chip-option>
    <mat-chip-option
      color="primary"
      (click)="filterTable('asistiran')"
      [selected]="isFiltered[0] === 'asistiran'"
    >
      Asistiran {{ getAsistentes }}
    </mat-chip-option>
    <mat-chip-option
      color="warn"
      (click)="filterTable('noAsistiran')"
      [selected]="isFiltered[0] === 'noAsistiran'"
    >
      No Asistiran {{ getNoAsistentes }}
    </mat-chip-option>
  </div>
  <div>
    <input
      type="text"
      style="padding: 8px; margin: 15px auto; width: 30%"
      placeholder="Type to filter the name column..."
      (keyup)="search($event)"
    />
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columns]="columnsToDisplay"
      [columnMode]="ColumnMode.standard"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [limit]="10"
      [groupExpansionDefault]="true"
      [groupRowsBy]="'key'"
    >
      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <div style="padding-left: 5px">
            <button
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Group"
              (click)="toggleExpandGroup(group)"
            >
              <b>Key: {{ group.value[0].key }}</b>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ng-container *ngFor="let column of columns; let i = index">
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="200"
          *ngIf="
            column.name !== 'url' &&
            column.name !== 'confirmacion asistencia' &&
            column.name !== 'estatus de invitacion'
          "
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          *ngIf="column.name === 'url'"
          [width]="500"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <a [href]="value" target="_blank">
              {{ value }}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="150"
          *ngIf="column.name === 'estatus de invitacion'"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <ng-container *ngIf="row.estatusDeInvitacion">
              <mat-chip-option
                [color]="getEstatusInvitacion(row)"
                disabled
                selected
              >
                {{ row.estatusDeInvitacion }}</mat-chip-option
              >
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ column.name }}"
          [flexGrow]="i === columns.length ? 1 : 3"
          [frozenLeft]="i === 0"
          [width]="150"
          *ngIf="column.name === 'confirmacion asistencia'"
        >
          <ng-template
            let-row="row"
            let-value="value"
            let-group="group"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <mat-chip-option
              [color]="getEstatusInvitacionConfirmadoColor(row)"
              disabled
              [selected]="row.estatusDeInvitacion === 'confirmado'"
              >{{ getEstatusConfirmado(row) }}</mat-chip-option
            >
          </ng-template>
        </ngx-datatable-column>
      </ng-container>
    </ngx-datatable>
  </div>
</div>
