<section class="cd-timeline js-cd-timeline">
  <!-- <span>
    {{ innerHeight }} {{ firstPosition }} {{ firstPosition - innerHeight }}
    {{ windowScroll | number : "1.0-0" }}
    {{ scrollerHeight | number : "1.0-0" }}
  </span> -->
  <div class="container max-width-lg cd-timeline__container" #firstElement>
    <div class="time-line" [style]="{ height: scrollerHeight + 'px' }"></div>
    <div></div>
    <ng-template [ngIf]="isMobile">
      <div class="cd-timeline__block" *ngFor="let item of timeLineItems">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img [src]="'../../assets/images/icons/' + item.img" [alt]="item.title" />
        </div>
        <!-- cd-timeline__img -->

        <div
          class="cd-timeline__content text-component"
          data-aos="zoom-in-right"
          data-aos-duration="3000"
        >
          <span class="cd-timeline__date">
            {{ item.horario }}
          </span>
          <h2 class="timeline-item-title">{{ item.title }}</h2>
          <div class="timeline-item-content">
            <h4>
              {{ item.lugar }}
            </h4>
            <p class="color-contrast-medium" (click)="goToMap(item.maps)">
              {{ item.direccion }}
            </p>
          </div>

          <div class="flex justify-between items-center">
            <!-- <span class="cd-timeline__date">{{ item.horario }}</span> -->
            <!-- <a target="_blank" [href]="item.maps" class="btn btn--subtle">
              Ver en Mapa
            </a> -->
          </div>
        </div>
        <!-- cd-timeline__content -->
      </div>
    </ng-template>
    <ng-template [ngIf]="!isMobile">
      <div class="cd-timeline__block" *ngFor="let item of timeLineItems">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img [src]="'../../assets/images/icons/' + item.img" [alt]="item.title" />
        </div>
        <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2 class="timeline-item-title">{{ item.title }}</h2>
          <div class="timeline-item-content">
            <h4>
              {{ item.lugar }}
            </h4>
            <p class="color-contrast-medium" (click)="goToMap(item.maps)">
              {{ item.direccion }}
            </p>
          </div>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date timeline-item-date">{{
              item.horario
            }}</span>
            <a target="_blank" [href]="item.maps" class="btn btn--subtle">
              Ver en Mapa
            </a>
          </div>
        </div>
        <!-- cd-timeline__content -->
      </div>
    </ng-template>
  </div>
</section>
<!-- cd-timeline -->
<script src="/src/assets/timelinejs/main.js"></script>
