<div class="confirmar-asistencia-form">
  <div class="row">
    <div class="column icon-col">
      <img class="icon" src="../../assets/images/icons/rsvpIcon.png" />
    </div>
    <div class="column" *ngIf="!showForm">
      <h2 *ngIf="invitadoConfirmacionPositiva">
        ¡Gracias por confirmar tu asistencia, nos vemos en la fiesta!
      </h2>
      <h2 *ngIf="!invitadoConfirmacionPositiva">
        ¡Te extrañaremos, Gracias por confirmar!
      </h2>
      <button mat-raised-button color="accent" (click)="reabrirFormulario()">
        Modificar confirmacion
      </button>
      <div class="contacto" *ngIf="invitadoConfirmacionPositiva">
        <div class="row">
          <p>
            Si tienes alguna duda o inquietud puedes contactar a nuestra wedding
            planner.
          </p>
        </div>
        <div class="row">
          <div class="column">
            <a
              class="wp"
              target="_blank"
              href="https://www.instagram.com/brendatovarwp/?hl=en"
            >
              <h2>Brenda Tovar</h2>
              <p>wedding planner</p>
            </a>
          </div>
          <div class="column">
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=8126080000"
            >
              <img
                class="whatsap-icon"
                src="../../assets/images/icons/whatsappIcon.png"
              />
              Whatsapp</a
            >
          </div>
        </div>
      </div>
    </div>
    <form
      class="rsvp-form"
      [formGroup]="rsvpForm"
      (ngSubmit)="onSubmit()"
      *ngIf="showForm"
    >
      <div class="column form-col" *ngIf="!hasInvitado">
        <mat-form-field>
          <mat-label>Nombre de Invitado</mat-label>
          <mat-select (selectionChange)="invitadoSeleccionado($event)">
            <mat-option
              *ngFor="let invitado of invitadosData"
              [value]="invitado.key"
            >
              {{ invitado.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column form-col" *ngIf="hasInvitado">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nombre" />
          <mat-error *ngIf="nombreFormControl.invalid">
            Nombre requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <input
            type="tel"
            matInput
            formControlName="telefono"
            placeholder="+52 81-1778-4810"
          />
          <mat-error
            *ngIf="
              telefonoFormControl.invalid &&
              telefonoFormControl.getError('required')
            "
          >
            Telefono requerido
          </mat-error>
        </mat-form-field>
        <div class="radio-field">
          <p>¿Tienes alguna alergia?</p>
          <mat-radio-group formControlName="tieneAlergia">
            <mat-radio-button class="example-margin" [value]="true">
              Si
            </mat-radio-button>
            <mat-radio-button class="example-margin" [value]="false">
              No
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field class="example-full-width" *ngIf="tieneAlergia.value">
          <mat-label>Alergias</mat-label>
          <input
            type="text"
            matInput
            formControlName="alergias"
            placeholder="Por favor ingresa los alimentos o condimentos a los cuales eres alérgic@"
          />
        </mat-form-field>
        <div class="radio-field">
          <p>¿Podrás asistir?</p>
          <mat-radio-group formControlName="confirmarAsistencia">
            <mat-radio-button class="example-margin" [value]="true">
              Si, asistiré
            </mat-radio-button>
            <mat-radio-button class="example-margin" [value]="false">
              No, lo siento
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div
          *ngIf="hasPlusOne && invitadosExtraArray && asistira.value"
          class="invitados-extra-container"
          formArrayName="invitadosExtra"
        >
          <h3>Invitados Extra</h3>
          <div
            *ngFor="let invExtra of invitadosExtraArray.controls; let i = index"
            class="invitado-extra-content"
            [formGroupName]="i"
          >
            <div class="row invitado-extra-title">Invitado {{ i + 1 }}</div>
            <div class="row">
              <div class="column">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput formControlName="nombre" />
                </mat-form-field>
              </div>
              <div class="column">
                <div class="radio-field">
                  <p>¿Tienes alguna alergia?</p>
                  <mat-radio-group
                    formControlName="tieneAlergia"
                    (change)="invExtraAlergiaChange($event, i)"
                  >
                    <mat-radio-button class="example-margin" [value]="true">
                      Si
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="false">
                      No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field
                  class="example-full-width"
                  *ngIf="tieneAlergiaInvitadoExtra(invExtra)"
                >
                  <mat-label>Alergias</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="alergias"
                    placeholder="Por favor ingresa los alimentos o condimentos a los cuales eres alérgic@"
                  />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-checkbox
                  id="confirmarAsistencia"
                  color="accent"
                  formControlName="confirmarAsistencia"
                  >Confirma Asistencia</mat-checkbox
                >
              </div>
            </div>
            <mat-divider class="divider"></mat-divider>
          </div>
        </div>
        <button mat-raised-button color="accent" submit>¡Confirmar!</button>
      </div>
    </form>
  </div>
</div>
