/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .row {
    flex-direction: column !important;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column !important;
  }
}
.confirmar-asistencia-form {
  color: #f9eddc;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  min-width: 70%;
}
.row {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.icon-col {
  width: 100px;
}
.form-col {
  width: 100%;
}
.columns-3 {
  width: 100%;
  display: flex;
}
.columns-3 > * {
  width: calc(100% / 3);
}

.invitados-extra-container {
  text-align: left;
  border: 1px dotted white;
  border-radius: 5px;
  padding: 10px;
}
.invitado-extra-content {
  padding-bottom: 10px;
}
.invitado-extra-title {
  justify-content: flex-start;
}
.radio-field {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
}
.divider {
  border-top-color: #f9eddc;
}

:host ::ng-deep label {
  color: #f9eddc;
}

:host ::ng-deep .mdc-radio__background .mdc-radio__outer-circle {
  border-color: #f9eddc !important; /*change radio button not checked border */
}
:host ::ng-deep .mdc-checkbox__background {
  border-color: #f9eddc !important;
}

.contacto {
  margin: 50px 10px;
  font-family: DellaRespira;
  color: #f9eddc;
}
.contacto .row {
  align-items: center;
  justify-content: center;
}
.contacto a {
  font-family: DellaRespira;
  text-decoration: none;
  color: #b68c54;
}

.whatsap-icon {
  width: 20px;
}

.wp {
  color: #f9eddc !important;
}

.icon {
  width: 70px;
}
