<div class="count-down-timer">
  <h1>¡Sólo faltan!</h1>
  <div class="wrapper">
    <div class="description">
      <div class="time-unit">
        <p class="time-number" #days></p>
        <p class="time-label">{{ "Dias" | uppercase }}</p>
      </div>
      <div class="time-unit">
        <p class="time-number" #hours></p>
        <p class="time-label">{{ "Horas" | uppercase }}</p>
      </div>
      <div class="time-unit">
        <p class="time-number" #minutes></p>
        <p class="time-label">{{ "Minutos" | uppercase }}</p>
      </div>
      <div class="time-unit">
        <p class="time-number" #seconds></p>
        <p class="time-label">{{ "Segundos" | uppercase }}</p>
      </div>
    </div>
  </div>
</div>
