/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 290) {
  .time-unit {
    width: calc(70% / 4)
  }
  .time-label {
    font-size: x-small !important;
  }
}
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .time-unit {
    width: calc(80% / 4)
  }
  .time-label {
    font-size: x-small !important;
  }
}
@media only screen and (min-width: 700px) {
  .time-unit {
    width: calc(85% / 4)
  }
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 2em;
}
.time-unit {
  background: rgba(255,255,255, 0.4);
  margin: 4px;
  border-radius: 5px;
}
