<div class="count-down-timer">
  <h1>¡Sólo faltan!</h1>
  <div class="wrapper">
    <div class="description">
      <div class="time-unit">
        <p #days></p>
        <p class="time-label">Dias</p>
      </div>
      <div class="time-unit">
        <p #hours></p>
        <p class="time-label">Horas</p>
      </div>
      <div class="time-unit">
        <p #minutes></p>
        <p class="time-label">Minutos</p>
      </div>
      <div class="time-unit">
        <p #seconds></p>
        <p class="time-label">Segundos</p>
      </div>
    </div>
  </div>
</div>
