/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 290) {
  .time-unit {
    width: calc(85% / 4) !important;
    height: 80px !important;
  }
  .time-label {
    font-size: x-small !important;
  }
}
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .time-unit {
    width: calc(85% / 4);
    height: 80px;
    border-radius: 10px !important;
  }
  .time-label {
    font-size: 5px !important;
  }
}
@media only screen and (min-width: 700px) {
  .time-unit {
    width: calc(40% / 4);
    height: 100px;
  }
  .time-label {
    font-size: small !important;
  }
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 2em;
}
.time-unit {
  background: rgba(249, 237, 220, 0.17);
  margin: 4px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.time-label {
  font-family: DellaRespira;
  letter-spacing: 3px;
  line-height: 1.78;
}
.time-number {
  font-family: CinzelDecorative;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 1.78;
}
