<div class="section-header">
  <h2>Ceremonia</h2>
</div>
<div class="ceremonia">
  <div class="row">
    <div class="ceremonia-content">
      <div class="row">
        <app-timeline class="column" [invitado]="invitado"></app-timeline>
      </div>
    </div>
  </div>
  <div class="section-header">
    <h2>Etiqueta</h2>
  </div>
  <div class="row">
    <div class="vestimenta-content" *ngIf="!isMobile">
      <div class="row vestimenta">
        <div class="column traje">
          <p>{{ "Traje o Esmoquin" | uppercase }}</p>
        </div>
        <div class="column">
          <img
            data-aos="fade-right"
            data-aos-duration="3000"
            class="vestimenta-icon vestimenta-traje"
            src="../../assets/images/traje.png"
          />
        </div>
        <div class="column">
          <img
            data-aos="fade-left"
            data-aos-duration="3000"
            class="vestimenta-icon vestimenta-vestido"
            src="../../assets/images/vestido.png"
          />
        </div>
        <div class="column vestido">
          <p>{{ "Vestido Largo" | uppercase }}</p>
        </div>
      </div>
      <div class="row nota">
        <div class="column nota-importante">
          <h3>SÓLO ADULTOS</h3>
          <img class="linea" src="../../assets/images/linea.png" />
          <!-- <p>
            {{
              "Adoramos a sus hijos, pero creemos que necesitan una noche libre."
                | uppercase
            }}
          </p> -->
          <!-- <p>{{ "Sólo adultos, por favor." | uppercase }}</p> -->
        </div>
      </div>
    </div>
    <div class="vestimenta-content" *ngIf="isMobile">
      <div class="row vestimenta">
        <div class="column">
          <img
            data-aos="zoom-right"
            data-aos-duration="3000"
            class="vestimenta-icon vestimenta-traje"
            src="../../assets/images/traje.png"
          />
          <img
            data-aos="zoom-left"
            data-aos-duration="3000"
            class="vestimenta-icon vestimenta-vestido"
            src="../../assets/images/vestido.png"
          />
        </div>
        <div class="row vestido-traje-row">
          <p>{{ "Traje o Esmoquin" | uppercase }}</p>
          <p>{{ "Vestido Largo" | uppercase }}</p>
        </div>
      </div>
      <div class="row nota">
        <div class="column nota-importante">
          <h3>SÓLO ADULTOS</h3>
          <img class="linea" src="../../assets/images/linea.png" />
          <!-- <p>
            {{
              "Adoramos a sus hijos, pero creemos que necesitan una noche libre."
                | uppercase
            }}
          </p> -->
          <!-- <p>{{ "Sólo adultos, por favor." | uppercase }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
