/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 290px) {
  .ceremonia {
    padding: 0;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vestimenta-icon {
    width: 190px;
  }
  .vestimenta-traje {
    margin-right: -0px;
    margin-left: -65px;
  }
  .vestimenta-vestido {
    margin-left: -60px;
    margin-right: -50px;
  }
  .ceremonia-content {
    padding-bottom: 50px;
  }
  .vestido-traje-row p {
    font-size: 0.5em;
  }
}
@media (290px <= width <= 390px) {
  .vestimenta-icon {
    width: 210px;
  }
  .vestimenta-traje {
    margin-right: -45px;
  }
  .vestimenta-vestido {
    margin-left: -70px;
  }
  .ceremonia-content {
    padding-bottom: 50px;
  }
  .vestido-traje-row p {
    font-size: 0.5em;
  }
}
/* For extremely small screen devices (595px and below) */
@media (390px <= width <= 595px) {
  .ceremonia-content-item {
    width: 100%;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vestimenta-icon {
    width: 210px;
  }
  .vestimenta-traje {
    margin-right: -50px;
  }
  .vestimenta-vestido {
    margin-left: -50px;
  }
  .ceremonia-content {
    padding-bottom: 50px;
  }
  .vestido-traje-row p {
    font-size: 0.5em;
  }
}

/* Small screen devices (600px and below) */
@media (595px <= width <= 620px) {
  .ceremonia-content-item {
    width: 100%;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vestimenta-icon {
    width: 250px;
  }
  .vestimenta-traje {
    margin-right: -90px;
  }
  .vestimenta-vestido {
    margin-left: -90px;
  }
  .ceremonia-content {
    padding-bottom: 50px;
  }
  .vestido-traje-row p {
    font-size: 0.5em;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 700px) {
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .vestimenta-icon {
    width: 400px;
  }
  .vestimenta-traje {
    margin-right: -150px;
  }
  .vestimenta-vestido {
    margin-left: -150px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}

.section-header {
  color: #f9eddc;
  font-family: CinzelDecorative;
  letter-spacing: 7px;
  line-height: 1.7;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.ceremonia-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
  color: #f9eddc;
  font-family: DellaRespira;
}
.ceremonia-icon {
  width: 100px;
}
.ceremonia-header {
  padding-bottom: 2em;
}
.ceremonia-misa {
  padding-bottom: 5em;
}
.ceremonia-recepcion {
  padding-bottom: 2em;
}
.vestimenta-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
  color: #f9eddc;
  font-family: DellaRespira;
  padding: 0 0 30px 0;
}
.vestimenta {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.84px;
  line-height: 1.78;
}
.traje {
  text-align: right;
}
.vestido {
  text-align: left;
}

.nota {
  width: 70%;
}
.nota-importante {
  /* background: rgba(181, 166, 66, ); */
  border-radius: 5px;
  /* margin-bottom: -200px; */
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: DellaRespira;
}
.nota-importante h3 {
  padding-top: 40px;
  padding-bottom: 2px;
  font-family: DellaRespira;
  font-weight: normal;
  letter-spacing: 2px;
}
.nota-importante p {
  font-size: small;
  font-weight: lighter;
  letter-spacing: 1.5px;
  line-height: 1.78;
  padding-top: 10px;
}
.nota-importante hr {
  width: 40%;
  border: 1px solid rgba(181, 166, 66);
  border-radius: 5px;
}

.linea {
  width: 55%;
}

.vestido-traje-row p {
  width: 50%;
}
