@media only screen and (max-width: 595px) {
  nav {
    bottom: 0;
    padding: 0px 15px 0px 15px;
    height: 60px;
  }
  .text {
    display: none !important;
  }
  .icon {
    display: block !important;
  }
  .sticky{
    bottom: 0 !important;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  nav {
    bottom: 0;
    padding: 0px 15px 0px 15px;
    height: 50px;
  }
  .background-overlay {
    background-position: center center;
  }
  .sticky{
    bottom: 0 !important;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  nav {
    top: 0;
    height: 50px;
  }
  .background-overlay {
    background-position: center center;
  }
  .populated {
    align-content: flex-end;
    align-items: flex-end;
  }
  .sticky{
    top: 0 !important;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  nav {
    top: 0;
    height: 50px;
  }
  .sticky{
    top: 0 !important;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  nav {
    top: 0;
    height: 50px;
  }
}

nav {
  width: 100%;
  background-color: #07192E;
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center; /* aligns links vertically */
  width: 100%;
  height: 40px;
  gap: 10px;
  color: #b68c54;
}
.menu-link {
  padding: 10px;
}
.logo {
  width: 45px;
  height: 45px;
  filter: invert(1);
}
.cvicon {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

a {
  color: #b68c54;
  text-decoration: none;
}
a:hover {
  color: #F9EDDC;
  cursor: pointer;
}
.text {
  display: block;
  font-family: CinzelDecorative;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 10px;
  color: #b5a642;
}

.mobile-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  display: none;
}
.hotel-icon {
  width: 45px;
  filter: invert(61%) sepia(8%) saturate(2228%) hue-rotate(355deg) brightness(93%) contrast(86%);
}
.gift-icon{
  width: 45px;
  filter: invert(61%) sepia(8%) saturate(2228%) hue-rotate(355deg) brightness(93%) contrast(86%);
}
.sticky{
  position: fixed;
  overflow: hidden;
  z-index: 100;
}
