<nav id="navigation" [class.sticky]="sticky" #stickyMenu>
  <div class="menu" *ngIf="!showMobileMenu">
    <div class="cvicon">
      <img class="logo" src="../../assets/images/icons/cvlogo.svg" />
    </div>
    <a class="menu-link" (click)="navigateToSection('ceremonia')">
      <span class="text">Ceremonia</span>
    </a>
    <a class="menu-link" (click)="navigateToSection('hospedaje')">
      <span class="text">Hospedaje</span>
    </a>
    <a class="menu-link" (click)="navigateToSection('mesaRegalo')">
      <span class="text">Mesa de Regalo</span>
    </a>
    <a class="menu-link" (click)="navigateToSection('rsvp')">
      <span class="text">RSVP</span>
    </a>
  </div>
  <div class="mobileMenu" *ngIf="showMobileMenu">
    <a class="mobile-menu-link" (click)="navigateToSection('ceremonia')">
      <span class="text">Ceremonia</span>
      <img
        class="icon"
        src="../../assets/images/icons/ringsIcon.png"
        alt="Ceremonia"
      />
    </a>
    <a class="mobile-menu-link" (click)="navigateToSection('hospedaje')">
      <span class="text">Hospedaje</span>
      <img
        class="icon hotel-icon"
        src="../../assets/images/icons/hotel.png"
        alt="Hospedaje"
      />
    </a>
    <a class="mobile-menu-link" (click)="navigateToSection('mesaRegalo')">
      <span class="text">Mesa de Regalo</span>
      <img
        class="icon gift-icon"
        src="../../assets/images/icons/gift.png"
        alt="Mesa de Regalo"
      />
    </a>
    <a class="mobile-menu-link" (click)="navigateToSection('rsvp')">
      <span class="text">RSVP</span>
      <img
        class="icon"
        src="../../assets/images/icons/rsvpIcon.png"
        alt="RSVP"
      />
    </a>
  </div>
</nav>
