@use "@angular/material" as mat;

@include mat.core();
/* ======== Angular material custom themes ======== */

$my-primary-pallete: (
  50: #e1e3e6,
  100: #b5bac0,
  200: #838c97,
  300: #515e6d,
  400: #2c3c4d,
  500: #07192e, // main
  600: #061629,
  700: #051223,
  800: #040e1d,
  900: #020812,
  A100: #537eff,
  A200: #2058ff,
  A400: #003bec,
  A700: #0035d3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #f9eddc,
    400: #f9eddc,
    500: #f9eddc,
    600: #f9eddc,
    700: #f9eddc,
    800: #f9eddc,
    900: #f9eddc,
    A100: #f9eddc,
    A200: #f9eddc,
    A400: #f9eddc,
    A700: #f9eddc,
  ),
);

$my-accent-pallete: (
  50: #f6f1ea,
  100: #e9ddcc,
  200: #dbc6aa,
  300: #ccaf87,
  400: #c19d6e,
  500: #b68c54, // main
  600: #af844d,
  700: #a67943,
  800: #9e6f3a,
  900: #8e5c29,
  A100: #ffe7d1,
  A200: #ffcd9e,
  A400: #ffb26b,
  A700: #ffa552,
  contrast: (
    50: #07192e,
    100: #07192e,
    200: #07192e,
    300: #07192e,
    400: #07192e,
    500: #07192e,
    600: #07192e,
    700: #07192e,
    800: #ffffff,
    900: #ffffff,
    A100: #07192e,
    A200: #07192e,
    A400: #07192e,
    A700: #07192e,
  ),
);

$my-primary: mat.define-palette($my-primary-pallete, 500);
$my-accent: mat.define-palette($my-accent-pallete, 500 , A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

