/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 290) {
  .heading-title {
    font-size: 20px;
  }
  .item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .parallax3 {
    background-position: -300px 50px !important;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .parallax3 {
    background-position: -300px 50px !important;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Small screen devices (600px and below) */
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column !important;
  }
  .item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (620px <= width <= 920px) {
  .hoteles .row {
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .hoteles .row .column {
    flex-basis: 45%;
  }
}
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 700px) {
  .item {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .item {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}

/* Main CSS */
.container {
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.container ul li a:hover {
  padding: 12px;
  color: #fc0;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p {
  margin-bottom: 16px;
  font-size: 20px;
}

.item {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-header {
  color: white;
  font-family: Cinzel;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  /* padding-bottom: 2em; */
}

.column {
  flex-basis: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.contador-item {
  min-height: 100vh;
  background-color: #050a30;
  color: #b5a642;
  display: flex;
  align-items: center;
}
.contador {
  padding-left: 20px;
  padding-right: 20px;
}
.mensaje {
  padding-top: 40px;
  padding-bottom: 40px;
}
.agregarCalendario {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombre-invitado {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hoteles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 0;
}
.hoteles .row .column {
  margin-left: 0;
}
.hotel-logo {
  width: 100%;
  min-height: 80px;
  padding: 10px;
}
.hotel-img {
  width: 100%;
  height: 100%;
}
.sugerencia {
  margin-top: 5px;
  margin-bottom: 10px;
}

.rsvp-item {
  min-height: 100vh;
  padding-bottom: 50px;
}
.mesa-container {
  color: white;
}
.regalos-icon {
  width: 100%;
  min-height: 140px;
  padding: 2em 2em 2em 2em;
}

.mesa-regalo-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url("../../assets/images/VYC2.jpg");
}
.parallax2 {
  background-image: url("../../assets/images/VYC3.jpg");
}
.parallax3 {
  background-image: url("../../assets/images/VYC4.jpg");
}
