@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .parallax {
    background-attachment: scroll !important;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

  /* Small screen, retina, stuff to override above media query */
  .parallax2 {
    background-position: -160px 50px !important;
  }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 290) {
  .item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .parallax2 {
    background-position: -160px 50px !important;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .parallax2 {
    background-position: -160px 50px !important;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .linea {
    width: 80% !important;
  }
}

/* Small screen devices (600px and below) */
@media only screen and (max-width: 600px) {
  footer {
    padding-bottom: 70px !important;
  }
  .row {
    flex-direction: column !important;
  }
  /* .padres-item .row {
    flex-direction: row !important;
  } */
  .item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .padres-nombres {
    font-size: 10px !important;
  }
  .padres-titulo {
    font-size: 15px;
  }
  .padres-mensaje {
    font-size: 1.5rem;
  }
  .padres-novia{
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .nombre-invitado {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
  }
}
@media (620px <= width <= 920px) {
  .hoteles .row {
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .hoteles .row .column {
    flex-basis: 45%;
  }
  .padres {
    padding-bottom: 70px;
  }
}
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 700px) {
  .item {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .nombre-invitado {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
  }
  .padres {
    padding-bottom: 100px;
  }
  .parallax3{
    background-position: 0px 10px !important;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .item {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}

/* Main CSS */
.container {
  margin: 0 auto;
  text-align: center;
}

.item {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-header {
  color: #f9eddc;
  font-family: CinzelDecorative;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.column {
  flex-basis: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.welcome-item {
  min-height: 100vh;
  color: #f9eddc;
  font-family: Cinzel;
  padding-top: 60px;
}

.mensaje-item {
  min-height: 50vh;
  color: #f9eddc;
  font-family: Cinzel;
  padding-bottom: 40px;
}
.mensaje {
  padding-top: 40px;
  padding-bottom: 40px;
}
.linea {
  width: 40%;
}
.up {
  transform: rotate(180deg);
}
.nombre-invitado {
  font-family: CinzelDecorative;
  letter-spacing: 3px;
  line-height: 1.7;

  color: #b68c54;
}

.padres-item {
  min-height: 50vh;
  color: #f9eddc;
  font-family: Cinzel;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.padres-mensaje {
  font-family: CinzelDecorative;
  letter-spacing: 3px;
  line-height: 1.7;
}
.padres-nombres {
  font-family: Cinzel;
  letter-spacing: 3px;
  line-height: 1.7;
}
.padres-titulo{
  padding-bottom: 15px;
}

.contador-item {
  min-height: 50vh;
  color: #f9eddc;
  font-family: Cinzel;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contador {
  padding-left: 20px;
  padding-right: 20px;
}
.agregarCalendario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoteles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 0;
}
.hoteles .row .column {
  margin-left: 0;
}
.hotel-logo {
  width: 100%;
  min-height: 80px;
  padding: 10px;
}
.hotel-img {
  width: 100%;
  height: 100%;
}

.mesa-container {
  color: #b68c54;
  font-family: Cinzel;
}
.regalos-icon {
  width: 60%;
  /* min-height: 140px;
  padding: 2em 2em 2em 2em; */
}
.end{
  align-items: flex-end !important;
}
.start{
  align-items: flex-start !important;
}
.mesa-regalo-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding: 30px 0;
}
.mesa-regalo-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.mesa-regalo-text {
  font-family: DellaRespira;
  letter-spacing: 3px;
  line-height: 1.7;
}

.rsvp-item {
  min-height: 100vh;
  padding-bottom: 50px;
}

.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url("../../assets/images/parallax/VYC2-copy-min.jpg");
}
.parallax2 {
  background-image: url("../../assets/images/parallax/VYC4-min.jpg");
}
.parallax3 {
  background-image: url("../../assets/images/parallax/VYC8-min.jpg");
}
.parallax4 {
  background-image: url("../../assets/images/parallax/VYC5-min.jpg");
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #07192e;
  color: #b68c54;
  font-family: Cinzel;
  flex-direction: column;
  border-top: 0.2rem solid;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contactos {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.wp {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
}
.love {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.regalo-codigo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
