<app-landing></app-landing>

<app-navigation></app-navigation>

<section class="content-container">
  <div id="welcome" class="item container welcome-item">
    <div class="mensaje-item">
      <img class="linea up" src="../../assets/images/linea.png" />
      <div class="row">
        <div class="column">
          <div class="mensaje">
            <p>
              Los mejores momentos de la vida merecen ser compartidos, gracias
              por ser parte de nuestra historia.
            </p>
            <h1 class="nombre-invitado" *ngIf="invitado">
              {{ nombreInvitado(invitado) }}
            </h1>
            <p *ngIf="invitado">
              ¡Esperamos que nos puedan
              {{ invitado.numeroDeInvitadosExtra === 0 ? "puedas" : "puedan" }}
              acompañar en este día tan especial!
            </p>
          </div>
        </div>
      </div>
      <img class="linea" src="../../assets/images/linea.png" />
    </div>
    <div class="padres-item">
      <div class="section-header">
        <h2 class="padres-mensaje">Con la bendición de nuestros padres</h2>
      </div>
      <div class="row padres">
        <div class="column padres-nombres padres-novia">
          <p class="padres-titulo">Padres de la Novia</p>
          <h2>Silvia Patricia Pompa del Ángel</h2>
          <h2>Jesús Cavazos de la Garza</h2>
        </div>
        <div class="column padres-nombres padres-novio">
          <p class="padres-titulo">Padres del Novio</p>
          <h2>Carlota de la Rosa Falcón</h2>
          <h2>Horacio A. González Rodríguez</h2>
        </div>
      </div>
    </div>
    <div class="contador-item">
      <div class="row">
        <div class="column">
          <app-countdown></app-countdown>
          <p class="agregarCalendario">
            <add-to-calendar-button
              label="Agregar a Calendario"
              name="Boda Violeta & Carlos"
              startDate="2023-09-23"
              startTime="17:30"
              endDate="2023-09-24"
              endTime="03:00"
              location="Jw Marriot"
              options="'Apple','Google'"
              timeZone="America/Monterrey"
              lightMode="bodyScheme"
              hideBackground="true"
              styleLight="--btn-background: #b68c54; --btn-border:none; --btn-text:#07192e;  --btn-text-hover:#b68c54; ;--font: DellaRespira; --btn-background-hover:#f9eddc; --list-text:#b68c54;  "
            ></add-to-calendar-button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax parallax1"></div>

  <div id="ceremonia" class="item container ceremonia-container">
    <app-ceremonia [invitado]="invitado"></app-ceremonia>
  </div>

  <div class="parallax parallax2"></div>

  <div id="hospedaje" class="item container hospedaje-container">
    <div class="section-header">
      <h2>Hospedaje</h2>
    </div>

    <div class="hoteles">
      <div class="row">
        <div class="column" *ngFor="let hotel of hoteles">
          <app-hotel-card [hotel]="hotel"></app-hotel-card>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax parallax3"></div>

  <div id="mesaRegalo" class="item container mesa-container">
    <div class="section-header">
      <h2>Mesa de regalos</h2>
    </div>
    <p>Tu presencia es nuestro mejor regalo</p>
    <p>pero si quieres tener un detalle con nosotros te damos algunas ideas.</p>
    <div class="mesa-regalo-item">
      <div class="row">
        <ng-container *ngFor="let mesa of mesaDeRegalos; let i = index">
          <div
            class="column mesa-regalo-card"
            [ngClass]="{
              end: i === 0 && !isMobile,
              start: i === 2 && !isMobile
            }"
            (click)="goToMesaRegalos(mesa.url)"
          >
            <div class="regalo-codigo">
              <img
                class="regalos-icon"
                [src]="'../../assets/images/mesa/' + mesa.logo"
                [alt]="mesa.nombre + ' logo'"
              />
              <small class="mesa-regalo-text" *ngIf="mesa.codigo">{{
                mesa.codigo
              }}</small>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="parallax parallax4"></div>

  <div id="rsvp" class="item rsvp-item">
    <div class="section-header">
      <h2>Confirma tu Asistencia</h2>
    </div>
    <app-rsvp
      [invitado]="invitado"
      [invitadosData]="listaInvitados"
      (updatedInvitado)="updateInvitado($event)"
    ></app-rsvp>
  </div>
</section>
<footer>
  <img class="linea up" src="../../assets/images/linea.png" />
  <div class="row">
    <div class="love">made with &#9829; and code</div>
  </div>
  <div class="row">
    <div class="love">by Carlos Gonzalez</div>
  </div>
  <img class="linea" src="../../assets/images/linea.png" />
</footer>
